.ff1{text-align:center;}
.f{background-color:rgba(0,0,0,1);}
a.f1:link,a.f1:visited,a.f1:hover, a.f1:active {
  font-family:"Calibri";
  background-color: #4CAF50;
  border: none;
  color: white;
  font-size:20pt;
  padding: 10px 15px;
  width:15%;
  text-align: center;
  text-decoration: none;
  display: inline-block;} 
