.a{ background-color:rgba(0,0,0,1);font-family:"Calibri"; font-size:20pt;padding-left:1em; color:rgba(255,255,255,.8);text-align:top; }
.inp{font-size:20pt; background-color:rgba(255,255,255,.8); color:rgba(0,0,0,1); padding-left:.5em;border:1.6px; border-style:solid; border-color:rgba(255,255,255,.4);}
.but1{padding-left:2em;}
.but{font-family:"Calibri";
  border: none;
  color: black;
  font-size:20pt;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;}
.h1{color:rgba(255,255,255,1);; font-size:40pt; font-family:"Calibri";text-align:center;}
.radio{height:18px; width:18px;}
.hr1{color:white}
.kl{box-width:100%;}
.inp1{width:50%;font-size:20pt; background-color:rgba(255,255,255,.8); color:rgba(0,0,0,1); padding-left:.5em;border:1.6px; border-style:solid; border-color:rgba(255,255,255,.4);}
