<div class="a">
<form [formGroup]="opinion" (ngSubmit)="onSubmit()">
  <br>
  <h1 class="h1">Wanna Share Something</h1>
<br>
  <label>
    Name:
    <input class="inp" type="text" formControlName="name" required>
  </label>
<br><br>
  <label>
    Email:
    <input class="inp" type="text" formControlName="email" required>
  </label>
  <br><br>
  <label>
    Feedback:<br><br>
    <input class="radio" type="radio" formControlName="feedback" value="Great" required>Great<br>
    <input class="radio" type="radio" formControlName="feedback" value="Okay">Okay<br>
    <input class="radio" type="radio" formControlName="feedback" value="Not Good">Not Good
</label>
<br><br>
  <label>
    Comments:
    <input class="inp1" type="text" formControlName="comment">
  </label>
  <br><br>
<div class="but1">
<button class="but" type="submit" [disabled]="!opinion.valid">Submit</button>
</div>
</form>
<br><br>
<p>
  Form Value: {{ opinion.value | json }}
</p>
<p>
  Form Status: {{ opinion.status }}
</p>
<hr class="hr1">
<app-messages></app-messages>
</div>

