.a1{text-align:left;font-family:"Calibri"; font-size:40pt;color:white;text-align:center;}
.clear{background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20pt;}
.m{text-align:left;font-family:"Calibri"; font-size:20pt;color:rgba(255,255,255,0.7);padding-left:1em;}
.y{background-color:rgba(0,0,0,1);}
.but1{padding-left:1em;}
.hr1{color:white;}
