.a1{text-align:left;font-family:"Calibri"; font-size:40pt;color:white;text-align:center;}
.a2{text-align:left;font-family:"Calibri"; font-size:20pt;color:rgba(255,255,255,.8);padding-left:2em;}
.hr{background-color:black;}
.hr1{color:white}
